.base-button {
  border: none;
  font-size: 16px;
  padding: 4px 8px;

  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(74, 4, 4);
  color: #fff;
  border: 0.5px solid rgb(74, 4, 4);

  font-weight: bold;
}
